*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

main {
  min-height: 80vh
}

/* bootstrap */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  padding: 0 15px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
}

.header__logo img {
  width: 50px;
  height: 50px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

/* nav */

.nav {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 30px;
}

.nav__link {
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

/* hero */

.hero {
  padding: 2rem;
}

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-family: cursive;
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* section */

.section {
  padding: 2rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section__subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section__text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.section__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section__link {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  transition: 3s;
}

.section__link:hover {
  text-decoration: underline;
}

/* footer */

.footer {
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__text {
  font-size: 1rem;
  font-weight: 400;
}

.footer__link {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  transition: 3s;
}

.footer__link:hover {
  text-decoration: underline;
}
